.Table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content !important;
}

.Row {
  cursor: pointer;
  border-bottom: none;
}

.SelectedRow {
  cursor: pointer;
}
